<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WiiExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <WiiExplorer.Properties.Settings>
      <setting name="Yaz0Encode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PreviousOpenArchivePath" serializeAs="String">
        <value />
      </setting>
      <setting name="PreviousAddFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="PreviousExportPath" serializeAs="String">
        <value />
      </setting>
      <setting name="PreviousSaveArchivePath" serializeAs="String">
        <value />
      </setting>
      <setting name="IsDarkMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ElapsedTimeStrong" serializeAs="String">
        <value>0.14708972953216373</value>
      </setting>
      <setting name="ElapsedTimeFast" serializeAs="String">
        <value>0.0058136878654970756</value>
      </setting>
      <setting name="ElapsedTimeYAY0" serializeAs="String">
        <value>0.003</value>
      </setting>
      <setting name="IsNeedUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
    </WiiExplorer.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;libs" />
    </assemblyBinding>
  </runtime>
</configuration>